/*.simulatorTable {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}*/

.simulatorHeader {
    font-size: 24px;
    /*text-align: center;*/
}

.simulatorSubmitButton {
    margin-top: 10%;
}

/*.simulatorSubmitButtonContainer {
    text-align: center;
}*/